# Встроенные файлы приложений
строить/

# Файлы для ART / Dalvik VM
*.Декс

# Внешняя собственная папка сборки, созданная в Android Studio 2.2 и более поздних версиях
.externalNativeBuild

# Gradle файлы
.грейфер/

# Подписанный файл
.подписание/

# Пользовательские конфигурации
*.iml

# Локальный конфигурационный файл (путь sdk и т. д)
Местные новости.свойства

# файлы журналов
*.бревно

# Android Studio Navigation editor временные файлы
.навигация/

# Android Studio захватывает папку
захваты/

# Keystore файлы
# Раскомментируйте следующие строки, Если вы не хотите проверять файлы хранилища ключей.
*.jks
*.хранилище ключей

# Сервисы Google (например, API или Firebase)
службы Google.формат JSON

# Контроль версий
венчурный.XML
